# The URL that the web frontend will be accessed at
CLIENT_URL=
# The port the web frontend will be exposed on
CLIENT_PORT=9401
# The URL the API server will be accessed at (used as API_ENDPOINT)
SERVER_URL=
# The port the API server will be exposed on
SERVER_PORT=9400
# Client ID of your app from the Spotify Developer Dashboard
SPOTIFY_PUBLIC=
# Client secret of your app from the Spotify Developer Dashboard
SPOTIFY_SECRET=
# The URL that the homepage will link to
HOMEPAGE_URL=${CLIENT_URL}
