# The URL that the homepage will link to
URL=
# The port the service will be exposed on
PORT=7476
# The timezone for this machine (TZ identifier, e.g. Etc/UTC)
TZ=Etc/UTC
# Log level: ERROR, WARN, INFO, DEBUG, TRACE (upstream default is DEBUG)
QUI_LOG_LEVEL=INFO
