# The URL that the homepage will link to
HOMEPAGE_URL=
# The URL that the homepage widget will use
HOMEPAGE_WIDGET_URL=${HOMEPAGE_URL}
# The port the service will be exposed on
PORT=3009
# The username for AdGuard Home
USERNAME=
# The password for AdGuard Home
PASSWORD=
