# The URL that the homepage will link to
URL=
# The port the web UI will be exposed on
PORT=3005
# The port SSH git access will be exposed on
SSH_PORT=222
# The timezone for this machine (TZ identifier, e.g. Etc/UTC)
TZ=Etc/UTC
