COMPOSE_PROJECT_NAME=paperless
# Paperless API key (for Homepage widget)
PAPERLESS_API_KEY=
# The URL that the homepage will link to
URL=
# The port the service will be exposed on
PORT=1111
# The path the documents will be saved to
PATH_TO_DOCUMENTS=
# The path Paperless will scan for new documents
PATH_TO_SCANS=