# The URL that the homepage will link to for Calibre-web
CALIBRE_WEB_HOMEPAGE_URL=
# The port the service will be exposed on
CALIBRE_WEB_PORT=8083

# The path to the media folders on your system
PATH_TO_DATA=
INGEST_PATH=
CALIBRE_LIBRARY_PATH=

# If you want to use Hardcover as metadata provider
HARDCOVER_API_KEY=
