# The URL that the homepage will link to
URL=
# The port the service will be exposed on
PORT=9925
# The PostgreSQL database username
POSTGRES_USER=mealie
# The PostgreSQL database password
POSTGRES_PASSWORD=mealie
# The PostgreSQL server hostname
POSTGRES_SERVER=postgres
# The PostgreSQL server port
POSTGRES_PORT=5432
# The PostgreSQL database name
POSTGRES_DB=mealie
